html {
    height: 100%;
}

body {
    min-height: 100%;
    background:#002545;
    /* background-image: url(./img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}
.bg-cyt{
    background:#002545;
}